<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Demo</title>
</head>

<body>
    <div>
        <div>
            <h1>Publisher</h1>
        </div>
        <div>
            <a href="/publisher/create">Create</a>
        </div>
        <div>
            <table>
                <tbody>
                    <tr th:each="publisher: ${publishers}">
                        <td th:text="${publisher.name}">
                        </td>
                        <td>
                            <a th:href="@{/publisher/update/{id}(id=${publisher.id})}">Update</a>
                        </td>
                        <td>
                            <a th:href="@{/publisher/delete/{id}(id=${publisher.id})}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>